{% load static %}

/* body {
    margin: 0px;
}

.align_items_center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}  

.upper_band {
    width: 100%;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.container_upper_band {    
    width: 961px;
    margin: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.logo img {
    width: 100px; height: 100px;
    flex-basis: 10%;

}

.links {
    flex-basis: 55%;
    display: flex;
    justify-content: space-between;


}

.links a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    color: #1D1D1D;
}

.user_and_basket{
    flex-basis: 35%;
    display: flex;
    justify-content: flex-end;

    
}




.user,  .basket {
    margin-left: 5px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    
} */



#upper {
    width: 961px;
    margin: auto;
    padding-top: 30px;
    padding-left: 8px;
    padding-right: 8px;    
}

#upper .upper_band_firs_band {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 35%;
    
}

.logo img {
    width: 100%;
}

.contacts {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding-top: 5px;

}

.contacts .contacts_raw {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contacts .contacts_raw img {
    height: 20px;
}

.contacts .contacts_raw p {
    margin-bottom: 0px;
    padding-left: 6px;
}

.login {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.login .is_authenticated {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login .is_authenticated a {
    text-decoration: none;
    color: black;
}


.login form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.login input {
    width: 105px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
}

.login .button {
    background-color: white;
    color: black;
}

.login .second_line a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.upper_band_second_band {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.upper_band_second_band .menu{
    display: flex;
    flex-direction: row;
    width: 75%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.upper_band_second_band .menu .menu_links{
    padding: 10px;
}

.upper_band_second_band .menu a{
    text-decoration: none;
    color: black;
    font-size: 11px;
    font-weight: 900; 
}

.upper_band_second_band .menu a:hover{
    color: red;
}

.upper_band_second_band .basket{
    width: 20%;
}

.basket {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-decoration: none;
    padding-top: 10px;
    color: black;
}

.basket:hover {
    color: red;
}

.basket .basket_img {
    position: relative;
}

.basket img {
    width: 30px;
}

.basket .basket_img .product_quantity {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -8px;
    right: -8px;
    background-color: red;
    font-size: 13px;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px 0 0 0;
    border-radius: 50%;
}

.basket .basket_text {
    padding-left: 20px;
}

.basket .basket_text p {
    margin: 0px;
    font-size: 12px;
}



.container_content {
    width: 961px;
    margin: auto;
    padding-left: 8px;
    padding-right: 8px;
}





.footer {
    background-color: #262626;
    padding-bottom: 40px;
}

.container_footer {
    width: 961px;
    margin: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.footer_logo {
    display: inline-block;
    color: #fff;
    margin-top: 56px;
    margin-bottom: 40px;
}

.rectangle {
    max-width: 100%;
    margin-left: 0px;
}

.footer_menu {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.language {
    background:grey;
    width: 227px; height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.language select {
    width: 180px;
    margin-left: 15px;
    border: none;
    background-color: rgba(155, 25, 25, 0);
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

}

.language option {
    color:#fff;
    background: rgba(38, 38, 38, 1);
}

.hashtag {
    
    margin-top: 33px;
}

.hashtag h6 {
    display: inline-block;
    color: #fff;
}

.social_network {
    margin-top: 20px;

}

.social_network img {
    margin-right: 5px;
}

.center_part_footer_menu, .right_part_footer_menu {
    display: flex;
    flex-direction: column;
}

.center_part_footer_menu a, .right_part_footer_menu a {
    margin-bottom: 23px;
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

}


.apps {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.apps img {
    padding-left: 20px;
    padding-right: 20px;
}

.other {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.other a {
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
}

.up_button {
    position: fixed;
    right: 16px;
    bottom: 24px;
}