{% load static %}

body {
    margin: 0px;
}

.align_items_center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}  

.upper_band {
    width: 100%;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.container_upper_band {    
    width: 961px;
    margin: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.logo img {
    width: 100px; height: 100px;
    flex-basis: 20%;
}

.links {
    flex-basis: 60%;
    display: flex;
    justify-content: space-around;
}

.links a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    color: #1D1D1D;
}

.button_and_basket{
    flex-basis: 10%;
    display: flex;
    justify-content: space-between;
}

.button_and_basket button {
    width: 78px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    background-color: white;

    font-family: Roboto;
    font-style: normal;
    font-size: 13px;
    font-weight: 600;
    color: #1D1D1D;

}

.basket {
    margin-left: 27px;
}



.container_content {
    width: 961px;
    margin: auto;
    padding-left: 8px;
    padding-right: 8px;
}






.footer {
    background-color: #262626;
    padding-bottom: 40px;
}

.container_footer {
    width: 961px;
    margin: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.footer_logo {
    display: inline-block;
    color: #fff;
    margin-top: 56px;
    margin-bottom: 40px;
}

.rectangle {
    max-width: 100%;
    margin-left: 0px;
}

.footer_menu {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.language {
    background:grey;
    width: 227px; height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.language select {
    width: 180px;
    margin-left: 15px;
    border: none;
    background-color: rgba(155, 25, 25, 0);
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

}

.language option {
    color:#fff;
    background: rgba(38, 38, 38, 1);
}

.hashtag {
    
    margin-top: 33px;
}

.hashtag h6 {
    display: inline-block;
    color: #fff;
}

.social_network {
    margin-top: 20px;

}

.social_network img {
    margin-right: 5px;
}

.center_part_footer_menu, .right_part_footer_menu {
    display: flex;
    flex-direction: column;
}

.center_part_footer_menu a, .right_part_footer_menu a {
    margin-bottom: 23px;
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

}


.apps {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.apps img {
    padding-left: 20px;
    padding-right: 20px;
}

.other {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.other a {
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
}

.up_button {
    position: fixed;
    right: 16px;
    bottom: 24px;
}