{% load static %}

body {
    margin: 0px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    color: #00C618;
}

.align_items_center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}  


#upper {
    width: 961px;
    margin: auto;
    padding-top: 30px;
    padding-left: 8px;
    padding-right: 8px;    
}

#upper .upper_band_firs_band {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 35%;
    
}

.logo img {
    width: 100%;
}

.contacts {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding-top: 5px;

}

.contacts .contacts_raw {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contacts .contacts_raw img {
    height: 20px;
}

.contacts .contacts_raw p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 6px;
}

.login {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.login .is_authenticated {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login .is_authenticated a {
    text-decoration: none;
    color: black;
}


.login form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.login input {
    width: 105px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
}

.login .button {
    background-color: white;
    color: black;
}

.login .second_line a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.upper_band_second_band {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.upper_band_second_band .menu{
    display: flex;
    flex-direction: row;
    width: 75%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.upper_band_second_band .menu .menu_links{
    padding: 10px;
}

.upper_band_second_band .menu a{
    text-decoration: none;
    color: black;
    font-size: 11px;
    font-weight: 900; 
}

.upper_band_second_band .menu a:hover{
    color: #00C618;
}

.upper_band_second_band .basket{
    width: 20%;
}

.basket {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
    text-decoration: none;
    padding-top: 10px;
    color: black;
}

.basket:hover {
    color: #00C618;
}

.basket .basket_img {
    position: relative;
}

.basket img {
    width: 30px;
}

.basket .basket_img .product_quantity {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    padding: 3px 0px 0 0;
    background-color: #00C618;
    font-size: 13px;
    color: white;
    text-align: center;
    margin: 0px;
    border-radius: 50%;
    box-sizing: border-box;
    
}

.basket .basket_text {
    padding-left: 20px;
}

.basket .basket_text p {
    margin: 0px;
    font-size: 12px;
}



.container_content {
    width: 961px;
    margin: auto;
    padding-left: 8px;
    padding-right: 8px;
}





.footer {
    padding-top: 20px;
    background-color: #262626;
    padding-bottom: 20px;
    color: white;




}

.container_footer {
    width: 961px;
    margin: auto;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
}

.footer .first_column{
    display: flex;
    flex-direction: column;

}

.footer .first_column .logo{
    width: 600px;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.footer .logo img{
    width: 65px;
}

.footer .logo_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;

}

.footer h2{
    margin: 0px;
    font-size: 29px;
}

.footer .first_column p {
    margin: 0px;
    padding-top: 5px;
}

.footer .second_column{
    margin-left: 0px;

}

.footer .footer_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer .footer_menu a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding-bottom: 18px;
}

.footer .footer_menu a:hover{
    color: #00C618;
}



