{% extends "base.html" %}

{% block title %} Корзина {% endblock %}

{% load static %}

{% block for_connect_another %}<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">{% endblock%}


{% block content %} 


<h2 class="title"> Корзина </h2>

{% if cart.get_total_price < min_sum %}
    <div class="min_order"><b>Общая стоимость заказа должна быть не менее {{ min_sum }} рублей.</b></div>
{% endif %}

<br>

{% if cart|length > 0 %}
    <table class="cart_table">
        <tr>
            <th>Фото</th>
            <th>Артикул</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Общая цена</th>
            <th>Удалить</th> 
        </tr>

        {% for item in cart %}
            <tr>
                <td><a href=" {{ item.product.get_absolute_url }}"><img src=" {{ item.product.main_image.url }}" alt=""></a></td>
                <td>{{ item.product.article }}</td>
                <td><a href=" {{ item.product.get_absolute_url }}"><b>{{ item.product.title }}</b></a></td>
                <td>{{ item.product.price_unit }}</td>
                <td>{{ item.quantity }}</td>
                <td><b>{{ item.total_price }}</b></td>   
                <td>
                    <a href="/cart/cart_dell_product/{{item.product.id}}" class="link_del">
                        <img src="{% static 'cart/img/del.png' %}" alt="" class="buttont_del">
                    </a>
                </td> 
                
            </tr>
        {% endfor %}
            <tr>
                <td colspan="6" class="total_price"><b>Общая стоимость</b></td>
                <td><b>{{cart.get_total_price}} руб.</b></td>
            </tr>
    </table>

    <br>

    {% if cart.get_total_price >= min_sum %}
        <a href="{% url 'make_order' %}" class="make_order"><b>Оформить заказ</b></a>
    {% elif cart.get_total_price < min_sum %}
        <div><b>Общая стоимость заказа должна быть не менее {{ min_sum }} рублей.</b></div>
    {% endif %}

{% else %}
    <h3>Корзина пуста</h3>
{% endif %}

{% endblock%}