{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <!-- MyCss-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- JS-->
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

    <!-- flexboxgrid2-->
    <link rel="stylesheet" href="{% static 'flexboxgrid2/flexboxgrid2.css' %}">

    {% block for_connect_another %}{% endblock%}

    <title>{% block title %}{% endblock%}</title>
</head>

<body>
    <div class="upper_band" id="upper">
        <div class="upper_band_firs_band">
            <div class='logo'>
                <a href="{% url 'main_page' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
            </div>
            <div class='contacts'>
                <div class="contacts_raw">
                    <img src="{% static 'img/clock.png' %}" alt="">
                    <p><b>Ежедневно с 9:00 до 21:00</b></p>
                </div>
                <div class="contacts_raw">
                    <img src="{% static 'img/phone.png' %}" alt="">
                    <p><b>+798173635990</b></p>
                </div>
                <div class="contacts_raw">
                    <img src="{% static 'img/mail.png' %}" alt="">
                    <p><b>sbor-market@mail.ru</b></p>
                </div>
            </div>

            <div class='login'>
                {% if request.user.is_authenticated %}
                    <div class="is_authenticated">
                        {{ request.user.username }} | <a href="{% url 'logout' %}">Выйти</a>
                    </div>
                {% else %}
                <div class="first_line">
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <input class="folder" name="username" placeholder="логин">
                        <input class="folder" name="password" type="password" placeholder="пароль">
                        <input class="button" type="submit" value="Войти">
                    </form>
                </div>
                <div class="second_line">
                    <a href="{% url 'register' %}">Регистрация</a>
                </div>
                {% endif %}

            </div>
        </div>
        
        <br>

        <div class="upper_band_second_band">
            <div class="menu">
                <div class="menu_links"><a href="{% url 'global_categories' %}">ГЛАВНАЯ</a></div>
                <div class="menu_links"><a href="{% url 'search_order' %}">ПОИСК ЗАКАЗА</a></div>
                <div class="menu_links"><a href="{% url 'my_order' %}">МОИ ЗАКАЗЫ</a></div> 
                <div class="menu_links"><a href="{% url 'contacts' %}">КОНТАКТЫ</a></div> 
                <div class="menu_links"><a href="{% url 'wish' %}">ПОЖЕЛАНИЯ</a></div> 
                <div class="menu_links"><a href="{% url 'delivery_terms' %}">УСЛОВИЯ ДОСТАВКИ</a></div>
                {% if request.user.is_superuser %}
                <div class="menu_links"><a href="/admin">АДМИН ПАНЕЛЬ</a></div>
                {% endif %}
            </div>
            <a href="{% url 'cart' %}" class="basket">
                <div class="basket_img">
                    <img src="{% static 'img/icon_basket_mosbasa.svg' %}" alt="">
                    <h6 class="product_quantity">{{ cart|length }}</h6>
                </div>
                <div class="basket_text">
                    <p>Корзина</p>
                    <p><b>{{cart.get_total_price}} руб.</b></p>
                </div>
            </a>
        </div>
    </div>  

    <div class="container_content">
        {% block content %} 
        {% endblock%}
    </div>

    <br>
    <br>

    <div class="footer">
        <div class="container_footer">
            <div class="first_column">
                <div class="logo">
                    <div class="logo_img">
                        <img src="{% static 'img/only_logo.png' %}" alt="">
                    </div>
                    <div class="logo_text">
                        <div><h2>SBOR-MARKET</h2></div>
                        <div>Товары и продукты с доставкой</div>
                    </div>
                </div>
                <p>Ежедневно с 9:00 до 21:00</p>
                <p>+798173635990</p>
                <p>sbor-market@mail.ru</p>
            </div>
            <div class="second_column">
                <div class="footer_menu">
                    <h3>Меню</h3>
                    <a href="{% url 'global_categories' %}">ГЛАВНАЯ</a>
                    <a href="{% url 'search_order' %}">ПОИСК ЗАКАЗА</a>
                    <a href="{% url 'my_order' %}">МОИ ЗАКАЗЫ</a> 
                    <a href="{% url 'contacts' %}">КОНТАКТЫ</a>
                </div>
            </div>
        </div>
    </div>



    
    

</body>
</html>
