{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- MyCss-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- JS-->
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

    {% block for_connect_another %}{% endblock%}

    <title>{% block title %}{% endblock%}</title>
</head>

<body>

    <div class="upper_band" id="upper">
        <div class="container_upper_band align_items_center">
            
            <div class="logo">
                <a href="{% url 'main_page' %}"><img src="{% static 'img/Logo.jpg' %}" alt=""></a>
            </div>
            
            <div class="links">
                <a href="{% url 'categories' %}">Категории</a> |
                <a href="{% url 'search_order' %}">Поиск заказа</a> |
                <a href="{% url 'my_order' %}">Мои заказы</a>
            </div>

            <div class="user_and_basket align_items_center">
                <div class="user">
                    {% if request.user.is_authenticated %}
                        {{ request.user.username }} | <a href="{% url 'logout' %}">Выйти</a>
                    {% else %}
                        <a href="{% url 'login' %}">Войти</a> | <a href="{% url 'register' %}">Регистрация</a>
                    {% endif %}
                </div>


                <div class="basket">
                    {% if cart|length > 0 %}
                        <a href="{% url 'cart' %}">Корзина:</a> {{ cart|length }} тов.
                    {% else %}
                        Корзина пустая
                    {% endif %}

                </div>
            </div>

        </div>
    </div>
    
    <br>

    <div class="container_content">
        {% block content %} 
        {% endblock%}
    </div>

    <br>
    <br>

    <div class="footer">
        <div class="container_footer">
            <h1 class="footer_logo">Красивый логотип</h1>
            <img class="rectangle" src="{% static 'img/Rectangle_7.png' %}" alt="">
            
            <div class="footer_menu">
                
                <div class="left_part_fotter_menu">
                    <!-- <div class="language">
                        <img src="{% static 'img/world.svg' %}" alt="">
                        <select>
                            <option>Русский</option>
                            <option>Английский</option>
                        </select>
                    </div> -->
                    
                    <div class="hashtag">
                        <img src="{% static 'img/hashtag.svg' %}" alt="">
                        <h6>Тоже_логотип</h6>
                    </div>

                    <div class="social_network">
                        <img src="{% static 'img/facebook.svg' %}" alt="">
                        <img src="{% static 'img/twitter.svg' %}" alt="">
                        <img src="{% static 'img/instagram.svg' %}" alt="">
                    </div>
                </div>

                <!-- <div class="center_part_footer_menu">
                    <a href="">О магазине</a>
                    <a href="">Станьте партнёром по доставке</a>
                    <a href="">Станьте парнёром-магазина</a>
                </div> -->

                <!-- <div class="right_part_footer_menu">
                    <a href="">Все города</a>
                    <a href="">Цены</a>
                    <a href="">Помощь</a>
                    <a href="">FAQs</a>
                </div> -->

                <div></div>
            </div>

            <!-- <img class="rectangle" src="{% static 'img/Rectangle_7.png' %}" alt="">

            <div class="apps">
                <img src="{% static 'img/App_Store.svg' %}" alt="">
                <img src="{% static 'img/android.svg' %}" alt="">
            </div>

            <img class="rectangle" src="{% static 'img/Rectangle_7.png' %}" alt=""> -->
            <!-- 
            <div class="other">
                <a href="">© Bla-bla-bla 2020</a>
                <a href="">Обработка персональных данных</a>
                <a href="#upper">Пользовательское соглашение</a>
                <div></div>
            </div> -->
        </div>
    </div>

</body>
</html>
