.category_title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.category_title img {
    width: 50%;
}


.category_products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

.category_product {
    width: 23.9%;
    
    margin: 0px 5px;
    margin-bottom: 10px;
    padding: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;

    border: 1px solid black;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category_product .articl, .prices {
    color: gray;
}

.category_product a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.category_product a:hover {
    color: blue;
}

.product_img {
    text-align: center;
}

.product_img img {
    height: 150px;
}

.cart_form {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cart_quantity {
    width: 40px;
    border-radius: 5px;
}


