{% extends "base.html" %}

{% block title %} Заказ {% endblock %}

{% load static %}

{% block for_connect_another %}
    <link rel="stylesheet" href="{% static 'order_and_pay/css/make_order.css' %}">
        
{% endblock%}


{% block content %} 


{% if not request.user.is_authenticated %}
    <div class='message_log_in'>Для того, что в дальнейшего просмотривать заказы в личном кабинете, сейчас желательно авторизоваться: <a href="{% url 'login' %}">войти</a></div>
{% endif %}

<h2>Номер заказа: {{order_number}}</h2>

{% if cart.get_total_price < 1000 %}
    <div class="min_order"><b>Общая стоимость заказа должна быть не менее 1000 рублей.</b></div>
{% endif %}

{% if cart|length > 0 %}
    <div class="order">
        <table class="cart_table">
            <tr>
                <th>Фото</th>
                <th>Артикул</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Общая цена</th>
                <th>Удалить</th> 
            </tr>
    
            {% for item in cart %}
                <tr>
                    <td><a href=" {{ item.product.get_absolute_url }}"><img src=" {{ item.product.main_image.url }}" alt=""></a></td>
                    <td>{{ item.product.article }}</td>
                    <td><a href=" {{ item.product.get_absolute_url }}"><b>{{ item.product.title }}</b></a></td>
                    <td>{{ item.product.price_unit }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><b>{{ item.total_price }}</b></td>   
                    <td>
                        <a href="/cart/cart_dell_product/{{item.product.id}}" class="link_del">
                            <img src="{% static 'cart/img/del.png' %}" alt="" class="buttont_del">
                        </a>
                    </td> 
                    
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="6" class="total_price"><b>Общая стоимость</b></td>
                    <td><b>{{cart.get_total_price}} руб.</b></td>
                </tr>
        </table>

        <br>

        {% if cart.get_total_price >= 1000 %}

            <h3>Пожалуйста, заполните форму</h3>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <form method="POST" class="cart_form">
                    {% csrf_token %}
                    <input type="hidden" name="order_number" value="{{order_number}}">
                    {% for item in form %}
                        <div class="order_form_field">
                            <div>{{item.label_tag}}</div>
                            <div>{{item}}</div>
                        </div>
                    {% endfor %}
                    <br>
                    <button type="submit" class="button_make_order">Оформить заказ</button>
                </form>
            </div>

        {% elif cart.get_total_price < 1000 %}
            <div><b>Общая стоимость заказа должна быть не менее 1000 рублей.</b></div>
        {% endif %}
    </div>

{% else %}
    <h3>Корзина пуста</h3>
{% endif %}

{% endblock%}