{% extends "base.html" %}

{% block title %} Категории {% endblock %}

{% load static %}
{% block for_connect_another %}<link rel="stylesheet" href="{% static 'main/css/caregories.css' %}">{% endblock%}

{% block content %} 
<br>

<h2>Категории</h2>

<div class="categories_categories">
    
  {% for category in all_categories %}
    
    <div class="categories_category">
        <a href="/category/category_{{ category.id }}">
        <div>
            <img src="{{ category.photo.url }}" alt="">
        </div>
        <div class="categories_title">{{category.title}}</div>
        </a>
    </div>

  {% endfor %}

</div>


{% endblock%}