{% extends "base.html" %}

{% block title %} Категории {% endblock %}

{% load static %}
{% block for_connect_another %}<link rel="stylesheet" href="{% static 'main/css/categories.css' %}">{% endblock%}

{% block content %} 


<h2>{{ global_category }}</h2>

<div class="col-xs-12">
    <div class="categories">
        <div class="hidden-xs hidden-sm hidden-md col-lg-3">
            <div class="left_block">
                {% for category in all_categories %}
                <div class="categories_category">
                    <a href="/category/{{ category.slug }}">
                        <div><img src="{{ category.photo.url }}" alt=""></div>
                        <div class="categories_title">{{category.title}}</div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
            <div class="right_block">
                {% for category in all_categories %}
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <div class="categories_category">
                        <a href="/category/{{ category.slug }}">
                            <div><img src="{{ category.photo.url }}" alt=""></div>
                            <div class="categories_title">{{category.title}}</div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>








<!-- <h2>{{ global_category }}</h2>
<br>

<div class="categories_categories">
    
  {% for category in all_categories %}
    
    <div class="categories_category">
        <a href="/category/{{ category.slug }}">
        <div>
            <img src="{{ category.photo.url }}" alt="">
        </div>
        <div class="categories_title">{{category.title}}</div>
        </a>
    </div>

  {% endfor %}

</div> -->


{% endblock%}