{% extends "base.html" %}

{% block title %} Главная {% endblock %}

{% load static %}
{% block for_connect_another %}<link rel="stylesheet" href="{% static 'main/css/main_page.css' %}">{% endblock%}


{% block content %} 

<h4>4 самых популярных товара:</h4>

<div class="main_products">
    {% for product in products %}
        
        <div class="main_product">

            <div class="articl">Артикул: {{ product.article }}</div>
            <a href="/product/{{ product.pk }}">
                <div class="product_img"><img src="{{ product.main_image.url }}" alt=""></div>
                <div class="product_title">{{product.title}}</div>
            </a>
            
            <br>
            <div class="prices">
                <div>Цена за штуку: {{ product.price_unit }}</div>
                <div>Цена за упаковку: {{ product.price_pack }}</div>
            </div>

            <br>

        </div>

    {% endfor %} 
</div>


{% endblock%}

    



