{% extends "base.html" %}

{% block title %} {{product.title}} {% endblock %}

{% load static %}

{% block for_connect_another %}<link rel="stylesheet" href="{% static 'main/css/product_card_v2.css' %}">{% endblock%}


{% block content %} 

<br>
<div class="navigation">
  <a href="{% url 'global_categories' %}">Главная</a> >
  <a href="/global_category/{{ product.category.global_category.slug }}">{{ product.category.global_category }}</a> >
  <a href="/category/{{ product.category.slug }}">{{ product.category }}</a>
</div>


<div class="product_card">

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="pictures">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="main_picture">
                    <img src="{{ product.main_image.url }}" alt="">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="additional_pictures">
                        <a href="{{ product.main_image.url }}"><img src="{{ product.main_image.url }}" alt=""></a>
                    {% for i in additional_pictures %}
                        <a href="{{ i.additional_picture.url }}"><img src="{{ i.additional_picture.url }}" alt=""></a>
                    {% endfor %}
                </div> 
            </div>
            
            <script type="text/javascript">
                $(document).ready(function(){
                    $(".additional_pictures a").click(function(){
                        var largePath = $(this).attr("href");

                        $(".main_picture img").attr({ src: largePath, });
                        return false;
                    });
                });
            </script>

        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product_title_and_description">
            <div class="product_title"> <b>{{product.title}}</b></div>
            <div class="articl">Артикул: {{product.article}}</div>
            <br>
            {% if product.description %}
            <br>
            <div><b>Описание:</b> {{product.description}}</div>
            <br>
            <br>
            {% endif %}
            <br>
            {% if product.in_stock %}
            <div class="cart">
                <div class="price"><b>Цена за {{ product.get_unit_of_measurement_display }}: {{product.price_unit}}</b></div>
                <div class="batton_and_quantity">
                    <button id="minus_{{ product.id }}">-</button>
                    <div id="col_{{ product.id }}"><b>1</b></div>
                    <button id="plus_{{ product.id }}">+</button>
                </div>
                
                <form method="POST" class="cart_form">
                    {% csrf_token %}
                    <input type="hidden" name="id_product" value="{{product.id}}">
                    <input id="quantity_{{ product.id }}" type="hidden" name="quantity" class="cart_quantity" value="1">
                    <button type="submit" class="button"> <b>Добавить в корзину</b></button>
                </form>

                <script type="text/javascript">
                    $('#plus_{{ product.id }}').on('click', function () {
                        let num = +$('#quantity_{{ product.id }}').val();
                        $('#col_{{ product.id }}').text(num + 1);
                        $('#quantity_{{ product.id }}').val(num + 1);
                    });
                    $('#minus_{{ product.id }}').on('click', function () {
                        let num = +$('#quantity_{{ product.id }}').val();
                        if (num > 1) $('#col_{{ product.id }}').text(num - 1);
                        if (num > 1) $('#quantity_{{ product.id }}').val(num - 1);
                    });
                </script>
            </div>
            {% else %}
            <p><b>Товар отсутвует на складе.</b></p>
            <p>Для заказа необходимо связаться с менеджером по номеру телефона: {{ contacts_for_order }}</p>
            {% endif %}

        </div>
    </div>

    
</div>


{% endblock%}