{% extends "base.html" %}

{% block title %} {{product.title}} {% endblock %}

{% load static %}

{% block for_connect_another %}<link rel="stylesheet" href="{% static 'main/css/product_card.css' %}">{% endblock%}



{% block content %} 

<div class="product_card">
    <div class="product_title_and_description">
        <h3>{{product.title}}</h3>
        <h4>Артикул: {{product.article}}</h4>
        <br>
        {% if product.description %}
        <h4>Описание:</h4>
        <h5>{{product.description}}</h5> 
        {% endif %}
        <br>
        
        {% if product.in_stock %}
            <h4>Цена:</h4>
            <h5>Цена за единицу: {{product.price_unit}}</h5>

            <div class="cart">
                <form method="POST" class="cart_form">
                    {% csrf_token %}
                    <input type="hidden" name="id_product" value="{{product.id}}">
                    <p>{{ form_cart.quantity }}</p>
                    <button type="submit" class="button">Добавить в корзину</button>
                </form>
            </div>
        {% else %}
            <p><b>Товар отсутвует на складе.</b></p>
            <p>Для заказа необходимо связаться с менеджером по номеру телефона: +798173635990</p>
        {% endif %}

    </div>

    <div class="pictures">
        
        <div class="main_picture">
            <img src="{{ product.main_image.url }}" alt="">
        </div>

        <div class="additional_pictures">
                <a href="{{ product.main_image.url }}"><img src="{{ product.main_image.url }}" alt=""></a>
            {% for i in additional_pictures %}
                <a href="{{ i.additional_picture.url }}"><img src="{{ i.additional_picture.url }}" alt=""></a>
            {% endfor %}
        </div> 
        
        <script type="text/javascript">
            $(document).ready(function(){
                $(".additional_pictures a").click(function(){
                    var largePath = $(this).attr("href");

                    $(".main_picture img").attr({ src: largePath, });
                    return false;
                });
            });
        </script>

    </div>
</div>




{% endblock%}